@using BTCPayServer
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Views.Stores
@using Microsoft.AspNetCore.Routing
@model BTCPayServer.Plugins.Nano.Controllers.UINanoLikeStoreController.NanoLikePaymentMethodViewModel

@{
    ViewData.SetActivePage(StoreNavPages.OnchainSettings, $"{Model.CryptoCode} Settings", $"{Context.GetStoreData().Id}-{Model.CryptoCode}");
}

<div class="row">
    <div class="col-md-8">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="text-danger"></div>
        }

        <form method="post" asp-action="GetStoreNanoLikePaymentMethod"
              asp-route-storeId="@Context.GetRouteValue("storeId")"
              asp-route-cryptoCode="@Context.GetRouteValue("cryptoCode")"
              class="mt-4" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Enabled"></label>
                <input asp-for="Enabled" type="checkbox" class="form-check"/>
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="SaveButton">Save</button>
            </div>
        </form>
    </div>
</div>

@* @section PageFootContent { *@
@*     @await Html.PartialAsync("_ValidationScriptsPartial") *@
@* } *@
